## 사용할 모듈 미리 로딩

In [1]:
import pandas as pd
import requests
import matplotlib.pyplot as plt
import matplotlib as mpl
from bs4 import BeautifulSoup
from konlpy.tag import Okt
from collections import Counter
from wordcloud import WordCloud
import time
import platform
import numpy as np
import random
import os
import shutil
from PIL import Image
import collections
if not hasattr(collections, 'Callable'):
    collections.Callable = collections.abc.Callable


from sqlalchemy.sql import text as Text
from sqlalchemy import create_engine
from sqlalchemy import engine

C:\Users\kdp\AppData\Local\Temp\ipykernel_19004\3797284980.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## 데이터베이스(선택) 및 유저 에이전트

In [9]:

header = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

sqlinfo = engine.URL.create(
    drivername='mysql+pymysql',
    username = 'KMS',
    password = '1234Q1@',
    database = 'numpyproject',
    query = {'charset':'utf8mb4'},
    host = "114.201.240.47",
    port = 33063,
)

conn = create_engine(sqlinfo,connect_args={'ssl':{"fake_flag_to_enable_tls":True}})
# cur 사용시 Text 로 쿼리문을 묶어 사용
# cur = conn.connect()
# result = cur.execute(Text('select * from Stocks_Test'))
# for row in result.fetchall():
#     print(row)

,Date,IBM,AAPL,MSFT,XRX,AMZN,DELL,GOOGL,ADBE,^GSPC,^IXIC
0,1990-01-01,10.970438,0.242512,0.403759,11.202082,NaN,None,NaN,1.379061,329.079987,415.799988
1,1990-02-01,11.554416,0.242512,0.431040,10.394725,NaN,None,NaN,1.779084,331.890015,425.799988
2,1990-02-05,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
3,1990-03-01,11.951694,0.288017,0.483420,11.394058,NaN,None,NaN,2.234883,339.940002,435.500000
4,1990-04-01,12.275476,0.281756,0.506336,10.139430,NaN,None,NaN,2.253145,330.799988,420.100006
...,...,...,...,...,...,...,...,...,...,...,...
519,2022-04-01,130.625442,157.418701,276.875122,17.400000,124.281502,46.68299103,2282.189941,395.950012,4131.930176,12334.639650
520,2022-05-01,137.175980,148.621628,271.238251,18.820000,120.209503,49.93999863,2275.239990,416.480011,4132.149902,12081.389650
521,2022-05-09,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
522,2022-06-01,141.860001,137.440002,256.480011,15.820000,107.400002,48.93999863,2240.149902,365.630005,3821.550049,11181.540040
523,2022-06-28,141.860001,137.440002,256.480011,15.820000,107.400002,48.93999863,2240.149902,365.630005,3821.550049,11181.540040

## 폰트 설정

In [10]:
mpl.rc('font', family='Malgun Gothic')

## sql 판다스 연동하기

In [12]:
# 해당 구문을 활용하여 sql 에서 읽어보세요
# pd.read_sql('select * from Stocks_Test', conn)

In [18]:
# 해당 구문을 활용하여 sql로 전송해주세요
# sqldf = pd.read_sql('select * from Stocks_Test', conn)
# sqldf.to_sql('editors_copied'+str(random.randint(100,1000)), conn, if_exists='replace', index=False)

69